<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>House Rent Prediction</title>
        
    </head>
    <body>
 
<form action="output" method="post">
<div class="form-group">
  <label for="input">Please enter Zip Value </label>
  <input type="text" class="form-control" id="input" name="input"><br>
  <br>
  <label for="input">Please enter Month </label>
  <input type="text" class="form-control" id="input" name="input"><br>
  
  <input type="submit" class="btn btn-success" value="SUBMIT">
</form>
<br>
</body>
</html>